SECRET_KEY='super_secret_key'
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_gmail
EMAIL_HOST_PASSWORD=your_gmail_app_password
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_DEFAULT_PORT=5672
WEB_HOST=http://127.0.0.1:8000/
UNSUB_BASE_LINK=unsubscribe/
READ_MAIL_BASE_LINK=read_mail/