<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div style="width: 630px; text-align: center;">
		<div style="text-align: center;">
			<h1>Mailing System</h1>
		</div>
		<div style="width: 100%; background: #f0f5f8; border-radius: 10px; margin-top: 10px; padding: 10px;">
			<h2 style="color: #000000;">
				Здравствуйте, {{full_name}}!
			</h2>
			<p style="width: 95%; margin: 10px auto; font-size: 18px;">
				{{body}}
			</p>
			<p style="width: 40%; color: white; margin: 0 auto;">
				<a style="text-decoration: none;" href="{{track_link}}">Прочитано</a>
			</p>
			<p style="width: 40%; color: white; margin: 0 auto;">
				<a style="text-decoration: none;" href="{{unsub_link}}">Отписаться</a>
			</p>
		</div>
	</div>
</body>
</html>